h1{
    background-color: white;
        text-align: Center;
        font-size: 65px;
        color: rgb(26, 24, 24);
            }
    
Body {
      background-color: rgba(211, 211, 211, 0.438);
      min-height: 100vh;
      position: relative;
      margin: 0;

     }

    
main{
    width: 90vw;
    margin: 0 auto;
    padding: 170px 20px;
    min-height:calc(100vh - 235px - 50px);
     }
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

article{
    background-color: rgb(153, 148, 148);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  
}

article:last-child {
    margin-bottom: 0;
}


article p {
    margin-top: 16px;
    line-height: 20px;
}


footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100;
    
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #808080;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #070808;
    color: rgb(255, 255, 255);
  }
  html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
  

